/* MealItem.css */
ul {
    border-radius: 10px;
    width: 900px;
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
    margin-left: 250px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    background-color: #f3f4f6;
  }
.meal-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  .price{
    color: rgb(255, 0, 0);
    font-weight: bold;
  }